
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* font-family: "DM Sans", sans-serif; */

:root{
   --dmsans:"DM Sans", sans-serif; 
}
body{


    background-image: url(./assets/Image\ \(2\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(48, 45, 145, 0.696);
background-position: center;
background-blend-mode: multiply;

}
.navbar-brand{
    font-size: 30px;
    font-family: var(--dmsans);
    margin-left: 10rem;
    color: white}

    .navbar-collapse button{
        background-color: white;
        border-radius: 999px;
        color: #482BE7;
        }

        .navbar-nav{
            font-size: 17px;
            font-family: var(--dmsans);
        }     
        
        .navbar-nav li a{
            color:white;
        }

        .navbar-nav li a .nav-linkactive{
            font-size: 100px;
            
        }
.col-6 h1{

    margin-top: 2.5rem;
    font-size: 72px;
    font-family: var(--dmsans);
    line-height: 75px;
    width:500px;
    color: white;
    
}

.col-6{
margin-left: 10rem;


}
.col-6 p{

    margin-top: 1rem;
    font-family: var(--dmsans);
    color: white;
    font-size: 22px;
    line-height: 32px;
    width: 80%;
}

.col-6 button{
    margin-top: .5rem;
    border-radius: 999px;
    background-color: white;
    color: #482BE7;
}

.col-6 button.btn-light{
    background-color: transparent;
    color: white;
}